@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

.font-1 {
    font-family: "Work Sans", sans-serif;
}

.font-2 {
    font-family: "Playfair Display", serif;
}

.color-primary {
    background-color: #23BE0A;
}

.color-secondary {
    background-color: #59C6D2;
}

.active {
    border: 1px solid #23BE0A;
}